@font-face {
  /* 프리텐다드 */
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  /* 프리젠테이션 */
  font-family: "Freesentation-9Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  /* font */
  /* family */
  --font-family-main: "DM Serif Display";
  --font-family-basic: "Pretendard-Regular";
  --font-family-important: "Freesentation-9Black";

  /* size */
  --font-size-ExtraSmall: 10px;
  --font-size-small: 12px;
  --font-size-basic: 14px;
  --font-size-big: 27px;
  --font-size-Large: 50px;
  --font-size-ExtraLarge: 85px;
  --font-size-huge: 130px;

  /* ////////////////////////////////// */
  /* color */
  --white: #fdfdfd;

  --light-gray: #ddd;
  --light-gray-2: #aaa;
  --gray: #5c5c5c;

  --light-green: #517158;
  --green: #1b3420;
  --deep-green: #061e0b;

  /* ////////////////////////////////// */
  /* arr */
  --centering-margin: 0 auto;

  --max-width-pc: 1480px;
  --max-width-tbl: 840px;
  --max-width-mob: 450px;
}

body {
  font-family: var(--font-family-basic);
  font-size: var(--font-size-basic);
  letter-spacing: -0.3px;
}
