.contact {
  width: 100vw;
  padding: 300px 0;

  display: flex;
  justify-content: center;
}

.contact_box {
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 50px 50px 100px #fbfbfb, -50px -50px 100px #fbfbfb;

  padding: 60px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.contact_title {
  font-family: var(--font-family-important);
  font-size: var(--font-size-big);
  color: var(--green);
}

/* /////////////// */

.contact_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact_item > h5 {
  font-weight: bold;
}

.contact_item > .box {
  padding: 12px 330px 12px 12px;

  border: 1px solid black;
  border-radius: 10px;
}

.contact_send_btn {
  width: fit-content;
  padding: 12px 100px;
  color: var(--white);
  background-color: var(--green);
}

.contact_send_btn:hover {
  cursor: pointer;
}
